services:
  qa-browser:
    build:
      context: ..
      dockerfile: qa-browser-container/Dockerfile
    container_name: qa_browser
    ports:
      - "8050:8050"
    volumes:
      - ../src/use_cases/secrets:/app/src/use_cases/secrets:ro
      - ../output:/app/output:ro
    command:
      - python
      - -m
      - src.qa_browser.app
      - --host
      - "0.0.0.0"
      - -c
      - src/use_cases/secrets/ifxdev_pharos_prod.yaml
      - -m
      - src/use_cases/secrets/galeradev_write.yaml
    restart: unless-stopped
